.container {
  display: flex;
  flex-direction: column;
  margin: 5px;
}

.title {
  padding: 10px;
  font-family: Verdana, Geneva, sans-serif;
  font-size: 15pt;
}
.link{
  text-decoration: none;
  color: white;
  margin-left: 10px;
}


