.container {
  padding: 20px;
  display: flex;
  flex-direction: row;
}

.title {
  font-family: Verdana, Geneva, sans-serif;
  font-size: 20pt;
  margin-right: 30px;
}

.update {
  padding: 5px;
  border: none;
  cursor: pointer;
  font-family: Verdana, Geneva, sans-serif;
  font-size: 13pt;
}