.title {
  padding: 10px;
  font-family: Verdana, Geneva, sans-serif;
  font-size: 15pt;
}

.about {
  display: flex;
  flex-direction: row;
  padding: 10px;
}

.username {
  margin-right: 10px;
  font-family: Verdana, Geneva, sans-serif;
  font-size: 10pt;
}
